html, body {
    scroll-behavior: smooth;
  }
  body, a {
    color:color: var(--text-color);
  }
  .visually-hidden {
    display: none;
  }
  .card-category {
     color: primary;
  }
  .section-tagline {
    color: var(--color-primary);
  }

  root {
    color-primary:#d73953;
    color-black: #090909;
    color-white: #fffff;
    color-light-grey: #f3f3f3;
    color-dark-grey: #353535;
    text-color: var(--color-black;
  }